@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

:root {
	--color1: white;
	--color2: black;
	--color-alert: red;
	--color-input: lightgrey;
	--color-input-disabled: rgb(250, 250, 250);
	--box-shadow: 2px 10px 20px 3px rgb(221, 221, 221);
	--border-radius: 15px;
}

.container {
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
